.footer {
    /* margin: 10%; */
    margin-top: 0;
    background-color: #fafafa;
    backdrop-filter: blur(30px);
    box-shadow: 0px 10px 10px rgba(36, 36, 37, 0.37);
    color: rgb(0, 0, 0);
    padding: 20px 40px;
}

/* .bf-footer{
    background-image: url(../assets/swimming-pool.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 0 solid black;
    height: 30vb;
} */

.video-wrapper {
    position: relative;
    width: 100%;
    height: 40vb;
    /* max-width: 600px; */
    /* margin: 0 auto 20px auto; */
    border: 0px solid white;
    /* border-radius: 12px; */
    overflow: hidden;
}

.footer-video {
    width: 100%;
    /* height: auto; */
    /* display: block; */
    object-fit: cover;
}

.video-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    color: rgb(237, 237, 240);
    /* text-shadow: 1px 1px 4px black; */
    text-align: center;
    z-index: 2;
}

.bf-footer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.bf-footer-h3-1{
    border: 0 solid black;
    text-align: center;
    color: white;
    background-color: #f23e12;
    padding: 10px 2px;
}

.video-text h1 {
    width: 100%;
    margin: 0;
    font-size: 50px;
}

/* .video-text p {
    margin: 4px 0 0;
    font-size: 14px;
} */

/* .footer-content {
    margin-top: 20px;
    font-size: 14px;
} */

.footer-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    gap: 50px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 70%; */
    line-height: 1.5;
}

.footer-description-only {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 15vh;
    height: 12vbh;
    /* margin-bottom: 5px; */
}

.footer-description {
    font-size: 12px;
    /* color: #ccc; */
    /* text-align: center; */
}


.footer-social {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    color: #f23e12;
}


.footer-icon:hover{
    color: #13127E;
}

.footer-services {
    display: flex;
    flex-direction: column;

}

.footer-services-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 2;
}

.footer-h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f23e12;
    /* width: 100%;  */
}

.footer-about {
    display: flex;
    flex-direction: column;

}

.footer-about-links {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 2;
}

.footer-About-h1 {
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
    color: #f23e12;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    /* width: 20%; */
}
.footer-sub{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    gap: 10px;
}

.footer-sub-h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f23e12;
}

.footer-sub-bt-hd {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.footer-sub-a {
    padding: 5px 15px;
    background-color: #f23e12;
    color: white;
    height: 30px;
}

.footer-sub-a:hover{
    color: #f23e12;
    background-color: white;
}

.bf-footer-h3-1:hover{
    color: #f23e12;
    background-color: white;
}


.footer-sub-hd {
    width: 50%;
}

.footer-last {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: flex-start;
    gap: 52%;
    margin-top: 20px;
}

.footer-links {
    display: flex;
    gap: 20px;
    color: #13127E;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.footer-text{
    color: #13127E;
}