@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Exile&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Rubik+Maps&display=swap');

/* Add this to your main CSS file (e.g., App.css or index.css) */
body, #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Outfit", sans-serif; */
}

body{
    background: #F5F5F5;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}